.Login_overlay {
    display: flex;
    width: 100%;
    background-image: url(../Images/LoginBackground.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.left_img_holder {
    width: 60%;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.left_img_holder > h1 {
    font-size: 100px;
    font-weight: 900;
    /* -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black; */
    font-family:'Times New Roman', Times, serif
}

.left_img_holder > h3 {
    font-size: 50px;
    font-weight: 500;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
}

.right_login_items {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    /* background: rgba(256, 0256, 0256, 0.3); */
    border-left: 2px solid white;
}

.wrapper {
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.wrapper>h1 {
    font-size: 2rem;
    color: #07001f;
    margin-bottom: 1.5rem;
}

.wrapper>form input {
    width: 80%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}

.wrapper>button {
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 40%;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    background: rgb(28, 143, 17);

}

.wrapper>button:disabled {
    background-color: grey !important;
}

.wrapper>button:hover {
    background: rgba(28, 143, 17, 0.877);
}

.wrapper>input:focus {
    border: 1px solid rgb(192, 192, 192);
}